body{
    background-color: black;
}
h1{
    background-color: aliceblue;
}
div{
    font-size: 22px;
    font-weight: bold;
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 50%;
    align-content: center;
    margin: auto;
}